* {
  box-sizing: border-box;
}

body {
  font-family: Inter;
  margin: 0;
  background: #282d35;
}

nav {
  background-color: #21222a;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 30px 25px;
}

.nav--icon {
  width: 60px;
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.nav--logo_text {
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
  margin-right: auto;
}

.nav--title {
  color: #deebf8;
  font-weight: 600;
  font-size: 16px;
}

main {
  padding: 50px 25px;
  color: #fff;
  background-image: url("./images/react-icon-large.png");
  background-repeat: no-repeat;
  background-position: right 75%;
}

.main--title {
  font-size: 40px;
  letter-spacing: -0.05em;
  margin: 0;
}

.main--facts > li {
  padding-block: 10px;
  max-width: 400px;
}

.main--facts > li::marker {
  color: #61dafb;
  font-size: 1.5rem;
}
